body {
    
    margin: 0;
    font-family: Arial, sans-serif;
    /*background: url('sfondo.png') no-repeat center center;*/
    background-color: #e6e7d9;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    height: 100vh;
    box-sizing: border-box;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

header .logo {
    max-width: 150px;
    max-height: 80px;
    margin-right: 20px;
}

header h1 {
    margin: 0;
}
/* Stile per l'immagine in bianco e nero */
.bnw {
    filter: grayscale(80%);
    transition: filter 1s;
}

/* Stile per l'immagine a colori */
.color {
    filter: grayscale(0%);
    transition: filter 1s;
}
img {
    width: 100%; /* Mantiene l'immagine all'interno del contenitore */
    height: auto; /* Mantiene le proporzioni */
    object-fit: contain; /* Assicura che l'immagine sia contenuta nel contenitore */
}

#questionario {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 20px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.7);
    padding: 5px;
    background-color: #e6e7d9;
}

#domande-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.domanda, .pagina {
    display: none;
    background-size: cover;
    padding: 20px;
    
    position: relative;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.domanda.active, .pagina.active {
    display: block;
    border-radius: 10px;
    
    padding: 5px;
}

#timbro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: #e6e7d9;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

}

#timbro-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes timbroAnim {
    0% { transform: scale(2) rotate(0deg); opacity: 0; }
    50% { transform: scale(1) rotate(360deg); opacity: 1; }
    100% { transform: scale(1) rotate(360deg); opacity: 1; }
}

.timbro {
    position: absolute;
    width: 300px;
    height: 300px;
    background: url('timbro.png') no-repeat center center;
    background-size: contain;
    animation: timbroAnim 1s forwards;
    opacity: 0;
    display: none;
}

.bello {
    border-radius: 5px;
    background-color: #5e5858;
    max-width: 200px;
    margin: auto;
    margin-bottom: 1rem;
    color: #fff;
}

.yellow {
    background-color: #d1cdd6;
}

.cici {
    padding: 10px;
}